<%= form_with(model: punchtime, local: true) do |form| %>
  <% if punchtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punchtime.errors.count, "error") %> prohibited this punchtime from being saved:</h2>

      <ul>
      <% punchtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <ol>
      <li class="required">
        <%= form.label :punch_type %>
        <%= form.radio_button :punch_type, 'punch in' %> Punch In<br />
            <%= form.radio_button :punch_type, 'punch out' %>Punch Out<br />
      </li>
      <li class="required">
        <%= form.label :description, "Description (optional)" %>
        <%= form.text_field :description %>
      </li>
      <li class="required">
        <%= form.label :time %>
        <%= form.datetime_select :time %>
      </li>
      <li class="required"></li>
    </ol>
    <p>
      <%= form.submit %>
    </p>
  </fieldset>
<% end %>
