<ul id="punchtimes">
  <% @punchtimes.each do |punchtime| %>
    <li>
      <article class="punchtimes">
        <header>
          <h2><%= link_to(punchtime.description, punchtime) %></h2>
        </header>
        <table>
          <tr>
            <th>User</th>
            <td><%= punchtime.user.name %></td>
          </tr>
          <tr>
            <th>Punch type</th>
            <td><%= punchtime.punch_type %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= punchtime.description %></td>
          </tr>
          <tr>
            <th>Time</th>
            <td><%= punchtime.time %></td>
          </tr>
          <tr>
            <td><%= link_to 'Show', punchtime %></td>
            <% if current_user?(punchtime.user) %>
              <td><%= link_to 'Edit', edit_punchtime_path(punchtime) %></td>
              <td><%= link_to 'Destroy', punchtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        </table>
      </article>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'New Punchtime', new_punchtime_path %>
