<h1>All Users' Punch Times</h1>
<ul id="punchtimes">
  <% @punchtimes.each do |punchtime| %>
    <li>
      <article class="punchtime">
        <table>
          <tr>
            <th>User</th>
            <td><%= punchtime.user.name %></td>
          </tr>
          <tr>
            <th>Punch type</th>
            <td><%= link_to "#{punchtime.punch_type}", punchtime %></td>
          </tr>
          <tr>
            <th>Description</th>
            <% if punchtime.description.present? %>
              <td><%= punchtime.description %></td>
            <% else %>
              <td>My day was nondescript.</td>
            <% end %>
          </tr>
          <tr>
            <th>Time</th>
            <td><%= punchtime.time.strftime("%b %e, %l:%M %p") %>
              <% if current_user?(punchtime.user) || current_user_admin?%>
              <%= link_to 'Edit', edit_punchtime_path(punchtime) %>
            | <%= link_to 'Delete', punchtime, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        <% end %>
          </tr>
        </table>
      </article>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'New Punchtime', new_punchtime_path %>
