<article>
  <header>
    <h1><%= @user.name %> - <%= @user.email %></h1>
  </header>
  <nav>
    <% if current_user?(@user) %>
      <%= link_to "Edit Your Account", edit_user_path(@user), class: 'button' %>
      <%= link_to 'Delete your Account', @user, method: :delete, data: { confirm: 'You sure? Life is hard out there.' }, class: 'button' %>
    <% end %>
  </nav>
  <section id="punchtime-section">
    <%= link_to 'Clock In/Out', new_punchtime_path, class: "green-button" %>

    <% if @punchtimes.any? %>
      <h2>Punchtimes</h2>
      <ul id="punchtimes">
       <% @punchtimes.each do |punchtime| %>
         <li>
          <%= punchtime.punch_type.capitalize %> -
          <%= link_to punchtime.time.strftime("%l:%M %p (%b %e)"), edit_punchtime_path(punchtime) %> -
          <span class="date">
            Created <%= time_ago_in_words(punchtime.created_at) %> ago
          </span>
          <span>
            <%= link_to "Edit",edit_punchtime_path(punchtime) %>
           </span>
         </li>
       <% end %>
      </ul>
    <% end %>
  </section
>
  <br>

  <footer>
  </footer>
</article>
