<header id="page-header">
  <div id="masthead">
    <%= image_tag 'https://s3.amazonaws.com/hammerinthenewz/logo.png' %>
    <nav>
      <p>
        <% if current_user %>
          <%= link_to 'All Clock-ins', root_path, class: 'link' %>
          <%= link_to current_user.name, current_user, class: 'link' %>
          <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
        <% else %>
          <%= link_to "Register", signup_path, class: "button" %>
          <%= link_to 'Login', new_session_path, class: 'button' %>
        <% end %>
      </p>
    </nav>
  </div>
</header>